{% extends 'base.html.twig' %}

{% block title %}ComicWebStore - Usuarios{% endblock %}

{% block body %}
    <h3 class="text-center mt-3">Gestión de usuarios</h3>
    <div class="table-responsive mt-4 col-auto">
        <a href="{{ path('addUser') }}" class="btn btn-primary mb-3 float-right">Añadir usuario</a>
        <table id="table_dataTable" class="table table-bordered" style="width: 100%">
            <thead>
                <tr class="table-primary">
                    <th>Foto de perfil</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Categoría</th>
                    <th>Rol</th>
                    <th>Fecha de nacimiento</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for key, user in userList %}
                <tr>
                    {% if (images[key] != null) %}
                        <td class="text-center"><img src="data:image/png;base64,{{ images[key] }}" width="50" height="50"/></td>
                        {% else %}
                        <td class="text-center"><img src="{{ path_default_picture }}" width="50" height="50"></td>
                    {% endif %}
                    <td>{{user.name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.category}}</td>
                    <td>{{user.role}}</td>
                    <td>{{ user.birth_date }}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <button class="btn">
                            <input type="hidden" name="edit-user" value="{{ user.id }}">
                            <input type="hidden" name="userID" value="{{ user.id }}">
                            <img src="assets/svgs/user-edit.svg" width="35" height="35" class="p-2">
                        </button>
                        <button class="btn deleteUser" onclick="deleteUser({{ user.id }})">
                            <input type="hidden" name="delete-user" value="{{ user.id }}">
                            <input type="hidden" name="userID" value="{{ user.id }}">
                            <img src="assets/svgs/user-minus.svg" width="35" height="35" class="p-2">
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/delete-user.js') }}"></script>
    <script>
        $(document).ready( function () {
            $('#table_dataTable').DataTable({
            });
        });

    </script>
{% endblock %}
