{% extends '/public/base.html.twig' %}

{% block title %}{{ comic.title }}{% endblock %}

{% block body %}
    {% include 'public/navbar.html.twig' %}
    <div class="row mt-4">
        <div class="col-6">
            <img class="img-fluid w-100 h-100" src="data:image/png;base64,{{ image }}">
        </div>
        <div class="col-6 mt-4">
            {% for comic in (comic.genre|split(';')) %}
                <span class="badge badge-warning float-right ml-1">{{ comic }}</span>
            {% endfor %}
            <br>
            <h2 class="text-center text-warning my-4">{{ comic.title }}</h2>
            <p class="mt-4 text-justify">{{ comic.description }}</p>
            <p><b>Publicado por:</b> {{ comic.publisher }}</p>
            <p><b>Autor: </b>{{ comic.author }}</p>
            <p><b>Precio: </b>{{ comic.price }}€</p>
            {% if  app.user%}
            <form class="mt-2" method="post">
                Cantidad: <input type="number" value="1" name="amount">
                <input type="hidden" name="comicId" value="{{ comic.id }}">
                <div class="d-inline-block w-100 mt-4">
                    <button class="btn btn-warning" style="width: 49%" formaction="#">Comprar ahora</button>
                    <button class="btn btn-secondary" style="width: 49%" formaction="{{ path('addToShoppingCart') }}">Añadir al carrito</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}



