{% extends 'public/base.html.twig' %}

{% block title %}ComicWebStore - Profile{% endblock %}

{% block body %}
    {% include 'public/navbar.html.twig' %}
    <div class="col-auto mt-4 mx-auto px-5 w-50">
        <div class="card" style="background-color: #000; border-color: #ffffb3; min-height: 70vh">
            <div>
                <a href="{{ path('editProfile', {'id': user.id}) }}" class="btn btn-sm btn-primary float-right my-1 mx-1">
                    <i class="fas fa-edit" style="color:white"></i>
                </a>
            </div>
            <div class="text-center align-content-center">
                <img class="align-self-center img-fluid mt-4" src="data:image/png;base64,{{ image }}" style="border-radius:50%; width:125px; height: 125px">

                <h3 class= "my-2 mb-5">{{ user.name }} {{ user.lastName }}</h3>
            </div>
            <div class="mx-3 row">

                <div class="col-6 text-center">
                    <p><b>Fecha de nacimiento: </b>{{ user.birthDate | date("d/m/Y") }}</p>
                </div>
                <div class="col-6 text-center">
                    <p><b>Email: </b>{{ user.email }}</p>
                </div>

            </div>

        </div>
    </div>
{% endblock %}
