{% extends 'public/base.html.twig' %}

{% block body %}

    {% include 'public/navbar.html.twig' %}

    <div class="shoppingcart m-2 px-2 py-3">
        <form method="post">
        <table id="table_dataTable" class="table table-bordered" style="width: 100%">
            <thead>
            <tr class="table-primary">
                <th>Nombre</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for comic in comics %}
                <tr>
                    <td><a href="{{ path('comicInfo', {'id': comic.comic.id}) }}">{{ comic.comic.title }}</a></td>
                    <td>{{ comic.comic.price }} €</td>
                    <td>
                        <form class="mt-2" method="post">
                            <button class="btn btn-sm btn-danger deleteCart" onclick="removeFromWishList({{ userId }}, {{ comic.comic.id }}); return false;">
                                <i class="far fa-trash-alt"></i>
                            </button>

                            <input type="hidden" name="comicId" value="{{ comic.comic.id }}">
                            <input type="hidden" name="amount" value="1">
                            <button class="btn btn-sm btn-primary" formaction="{{ path('addToShoppingCart') }}">
                                <i class="fas fa-cart-plus"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/delete-comic-wishlist.js') }}"></script>
    <script>
        $(document).ready( function () {
            $('#table_dataTable').DataTable({
            });
        });
    </script>
{% endblock %}